.product-card img {
    width: 180px;
    height: 180px;
}

.product-img img {
    width: 450px;
    height: 450px;
}

.cart-item img {
    width: 180px;
    height: 180px;
}

.order-item img {
    width: 180px;
    height: 180px;
}