* {
    font-family: "Noto Sans TC", sans-serif; /* 設定所有元素的字體為 Noto Sans TC */
    padding: 0; /* 移除所有元素的內邊距 */
    margin: 0; /* 移除所有元素的外邊距 */
    box-sizing: border-box; /* 設置 box-sizing 為 border-box，確保內邊距和邊框包含在元素的總寬度和高度內 */
}

.product-card img {
    width: 180px;
    height: 180px;
}

.product-img img {
    width: 450px;
    height: 450px;
}

.cart-item img {
    width: 180px;
    height: 180px;
}

.order-item img {
    width: 180px;
    height: 180px;
}

div.product a img {
    width: 180px;
    height: 180px;
}

.headcontent {
    text-align: center; /* 確保父容器內的元素居中 */
    margin-left: 360px;
    margin-right: 360px;
}

.topmenu {
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

.topmenu .left {
    display: flex;
}

.topmenu .right {
    display: flex;
}

.headsearch-container {
    /* margin: 0 auto; */
}

.headsearch {
    display: flex;
}
